
body {
    background-color: lightgrey;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to the header */
header {
    color: #39a6b2;
    background-color: #575555;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    margin: 10px 0 10px;
    background-color: #39a6b2;
    color: #575555;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header a {
    color: #39a6b2;
    text-decoration: none;
}

header nav {
    margin: 10px 0;
    padding: 0 55px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.50vw;
    text-align: center;
    text-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
}

header nav ul li a:hover {
    background:lightgrey;
    color: #002766;
    border-radius: 15px;
    text-shadow: none;
}

/* hero styles start*/


/* footer styles */
footer {
    background-color: #575555;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #39a6b2;
}

footer h2 {
    font-size: 30px;
    margin: 0;
}